body {
    margin: 0;
    background-color: rgba(27, 30, 37);
    font-family: "Lilita One", sans-serif;
}

.backroundweb {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.container {
    position: absolute;
    right: 32px;
    left: 32px;
    top: 16px;
    font-size: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.col-container {
    color: aliceblue;
    text-decoration: none;
    margin-left: 16px;
}

.col-container:hover {
    text-decoration: underline;
}

.text {
    position: absolute;
    color: rgb(219, 219, 219);
    left: 35px;
    top: 250px;
    font-size: 35px;
    text-shadow: 5px 5px 5px rgba(0,0,0, 0.8)
}

.erklärung {
    position: absolute;
    height: 300px;
    padding: 300px 70px;
    color: rgb(219, 219, 219);
    text-shadow: 5px 5px 5px rgba(0,0,0, 0.8);
}

.lightred {
    color: rgb(211, 102, 102);
}

.button {
    background-color: rgb(211, 102, 102);
    padding: 8px 15px;
    color: rgb(80, 33, 33);
    outline-color: rgb(5, 5, 5);
    outline-style: solid;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.8);
}

.line {
    position: absolute;
    background-color: #15171C;
    top: 750px;
    bottom: 400px;
    width: 100vw;
    height: 8.8vw;
    color: rgb(219, 219, 219);

}



.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 530px;
    left: 0px;
    pointer-events: none;
}

.container2 .glass {
    position: relative;
    width: 180px;
    height: 200px;
    left: 720px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
    pointer-events: auto;
}

.container2 .glass::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
}

.container2:hover .glass {
    transform: rotate(0deg) translateX(-80px);
    margin: 0 10px;
}

.container2 .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(145, 141, 141, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container2 .glass svg {
    font-size: 2.5em;
    fill: #fff;
}

.credits {
    position: absolute;
    height: 5em;
    bottom: 70px;
}

.Working {
    position: absolute;
    color: rgb(219, 219, 219);
    left: 43vw;
    top: 10vw;
    text-shadow: 5px 5px 5px rgba(0,0,0, 0.8);
    font-size: 30px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.imgs {
    position: absolute;
    left: 30vw;
    top: 12.5vw;
    transition: all 0.7s ease;
    transform: scale(1);
    filter: brightness(1);
}

.imgs:hover {
    transform: scale(0.95);
    filter: brightness(0.7);
  }